<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 2px solid black; padding: 10px;">
      <h1 style="text-align: center; margin: 5opx;  padding: 50px;">  contact us    </h1>
    </div>
    <br>
    <span  style="border: 2px solid black;">
        Please enter your details
    </span>
     <br><br>
        <form action="">
        <label for="FullName"> Full Name</label>
        <input type="text" id="FullName" name="FullName"><br>
        <label for="email"> Email</label>
        <input type="email" id="email" name="email" required> <br>
        <label for="password"> Password</label>
        <input type="password"> <br>
        <label for="agree"> I agree</label>
        <input type="checkbox" id="agree" name="agree"> <br>
        <input type="submit"> <br>

        <nav>
            <ul>
                <li>
                    <a href="./contact.html"> go to the top of the page</a>
                </li>
                <li>
                    <a href="./home_page.html">back to main page</a>
                </li>
            </ul>
        </nav>

        </form>

</body>
</html>