<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 2px solid black; padding: 10px;">
    <h1 style="text-align: center; margin: 5opx;  padding: 50px;">  WELCOME TO SPORT WORLD    </h1>
    </div>
    <br>
    
    <img src="../static/sportPic.jpg" alt=""> <br>
    <span style="border: 2px solid black;">all the hot news in one place</span>
    
        <nav>
            <ul>
                <li>
                    <a href="./home_page.html">go to the top of the page</a>
                </li>
                <li>
                    <a href="./contact.html"> go to contact page</a>
                </li>
            </ul>
        </nav>
   
</body>
</html>